.top{
    padding: 8px;
    height: 65px;
}
.top .col-11 h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    height: 10px;
    color: rgb(0, 0, 0);
    margin-left: 25px;
}
li{
    list-style-type: none;
    display: inline;
}
li a{
    
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    margin-left: 5px;
    
}
.ad{
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
    padding-top: 15px;
}
.ad .col a{
    text-decoration: none;
    color: white;
}
.righting{
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 500px;
    top: 550px;
    left: 30px;
}
.righting .card{
    background-color: transparent;
    color: white;
    border: none;
    width: 700px;
    height: 500px;
}
.righting.card h3{
    /* font-size: 50px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.righting .card a{
    background-color: white;
    color: black;
    padding: 10px 25px;
    border: transparent;
    margin-top: 20px;
    
}
.righting .card a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}
.models{
    text-align: center;
    padding-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.elchrow{
    background-color: rgb(235, 235, 235);
}

.elch .card{

    background-color: transparent;
    color: rgb(107, 104, 104);
    border: none;
    width: 700px;
    margin-top: 170px;
    margin-left: 30px;

}
.elch .card h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.elch .card p{
    font-size: 20px;
    margin-top: 15px;
}
.elch .card a{
    color: rgb(17, 73, 146);
    background: transparent;
    border-color: rgb(17, 73, 146);
    padding: 10px 30px;
    margin-top: 15px;
}
.elch .card a:hover{
    background-color: rgb(17, 73, 146);
    color: white;
}
