.btn{
    background-color:white;
    border-color: white;
    color: gray;
}
.card{
    border-radius: 25px;
    margin-left: 10px;
}
.card img{
    border-radius: 15px;
}
.sa{
    display: flex;
    height: 100px;
    padding: 10px;
  
}
.sa img{
    width: 80px;
    height: 80px;
}
.sa p{
    height: 1px;
    color: gray;
    margin-left: 10px;
}